// Row Width
$row-width: 100%;

// Page width
$page-width: 960px;

// Gutter widths
$gutter: 32px;

$gutter-half: $gutter /2;

// Colors

$color1: #f0f5f9; // White
$color4: #343131; // Dark Grey
$color8: #373737; // Mid Grey
$color5: #F55641; // Red
$color2: #474747; // Lighter Grey
$color3: #585858; // Even lighter Grey
$color6: #CEEE75; // Green
$color7: #929292; // lightest gray
$color9: #000000; // black
$color10: #398CCE; //blue