// Row Width
$row-width: 100%;

// Page width
$page-width: 960px;

// Gutter widths
$gutter: 32px;

$gutter-half: $gutter /2;

// Colors

$color1: #f0f5f9; // White
$color2: #c9d6df; // Light Blue
$color3: #52616b; // Mid Blue
$color4: #1e2022; // Dark Blue
$color5: #FFA500; // Orange