html, body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f5f9;
  height: 100%; }

h1, h2 {
  font-family: 'Bree Serif', serif;
  font-weight: 800; }

ul {
  padding-left: 0px; }
  ul li {
    list-style-type: none;
    padding: 4px 0px; }

a {
  text-decoration: none;
  color: #000; }

hr {
  margin: 0px;
  border: none;
  border-top: 1px solid #f0f5f9; }

input {
  font-family: 'Open Sans', sans-serif;
  border: solid 2px #ccc;
  font-size: 16px;
  padding: 6px 10px;
  outline: none; }
  input:focus {
    border: solid 2px #F55641; }

.box, .col-3, .col-2, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.main-container {
  width: 960px;
  min-width: 1024px;
  margin: 0px auto;
  overflow: auto; }

.row {
  width: 100%;
  float: left; }

.col-3 {
  width: 8.33333%;
  float: left; }

.col-2 {
  width: 16.66667%;
  float: left; }

.col-3 {
  width: 25%;
  float: left; }

.col-4 {
  width: 33.33333%;
  float: left; }

.col-5 {
  width: 41.66667%;
  float: left; }

.col-6 {
  width: 50%;
  float: left; }

.col-7 {
  width: 58.33333%;
  float: left; }

.col-8 {
  width: 66.66667%;
  float: left; }

.col-9 {
  width: 75%;
  float: left; }

.col-10 {
  width: 83.33333%;
  float: left; }

.col-11 {
  width: 91.66667%;
  float: left; }

.col-12 {
  width: 100%;
  float: left; }

.mt {
  margin-top: 32px; }

.mt-large {
  margin-top: 64px; }

.mb {
  margin-bottom: 32px; }

.mb-large {
  margin-bottom: 64px; }

.mar {
  margin: 32px; }

.mar-large {
  margin: 64px; }

.pt {
  padding-top: 32px; }

.pt-large {
  padding-top: 64px; }

.pb {
  padding-bottom: 32px; }

.pb-large {
  padding-bottom: 64px; }

.pad, .col-3, .col-2, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 32px; }

.pad-large {
  padding: 64px; }

.text-center {
  text-align: center; }

.pull-right {
  float: right; }

.nav-container {
  overflow: auto; }
  .nav-container h1 {
    margin: 10px 0px 0px;
    display: inline-block; }

.fb__profile-img {
  border: 3px solid #f0f5f9; }

header {
  background-color: #343131;
  color: #f0f5f9;
  padding: 16px; }

footer {
  background-color: #343131;
  color: #f0f5f9;
  padding: 32px; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100%;
  min-width: 960px; }

.main-content {
  padding: 32px;
  background-color: #585858;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.sidebar {
  font-family: 'Bree Serif', serif;
  background-color: #F55641;
  -webkit-flex-basis: 220px;
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .sidebar ul {
    margin-top: 0px; }
    .sidebar ul li {
      border-bottom: 1px solid #343131;
      padding: 16px 0px 16px 32px;
      transition: background-color 0.5s ease; }
      .sidebar ul li:hover {
        background-color: #f22b11; }

.page--header {
  background-color: #F55641; }
  .page--header h2 {
    margin: 0px; }
