@import '_vars';
@import '_reset';
@import '_grid';
@import '_base';
@import '_nav';

header {
  background-color: $color4;
  color: $color1;
  padding: $gutter-half;
}

footer{
  background-color: $color4;
  color: $color1;
  padding: $gutter;
}

.container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  min-height: 100%;
  min-width: $page-width;
}

.main-content{
  padding: $gutter;
  background-color: $color3;

  -webkit-box-flex:1;
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
}

.sidebar{
  font-family: 'Bree Serif', serif;
  background-color: $color5;

  -webkit-flex-basis: 220px;
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;

  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;

  ul {
    margin-top: 0px;
    li {
      border-bottom: 1px solid $color4;
      padding: $gutter-half 0px $gutter-half $gutter;
      transition: background-color 0.5s ease;

      &:hover {
        background-color: darken( $color5, 10% );
      }
    }
  }
}

.page--header {
  background-color: $color5;

  h2 {
    margin: 0px;
  }
}