.card-cont {
  background-color: $color2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

// Currently I have to style this to suit the image sources location.
// This can change if I find a better source for images
.card-col {
  text-align: center;
  background-color: $color1;
  width: 200px;
  margin: 8px 0px;
  padding: 0px $gutter-half;

  img {
    width: 150px;
    height: 210px;
    object-fit: cover;
  }

  h4 {
    margin: 0px 0px $gutter-half;
  }
}