<div class="row">
  <div class="col-12 page--header">
    <h2>Deck Builder</h2>
  </div>
</div>
<div class="row">
  <div class="col-12 filter-cont">
    <input ng-model="searched" type="text" placeholder="Search for..." name="card">
    <div class="dropdown">
      <select ng-model="class">
        <option value="paladin">Paladin</option>
        <option value="priest">Priest</option>
        <option value="rogue">Rogue</option>
        <option value="mage">Mage</option>
        <option value="druid">Druid</option>
        <option value="warlock">Warlock</option>
        <option value="warrior">Warrior</option>
        <option value="shaman">Shaman</option>
        <option value="hunter">Hunter</option>
      </select>
    </div>
    <div class="dropdown">
      <select ng-model="numOfItem">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>
  </div>
</div>